:root {
  --body-background-color: #7265c7d8;
  --h2-color: aliceblue;
  --shadow: 4px 4px 8px black;
}
@import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--body-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.hero-banner {  
background-image: url("../images/060407a0003.jpg");
background-repeat: no-repeat;
height: 500px;
background-size: cover;
background-position: center;
}

.personal {
  margin-top: 1.5em;
  font-family: Pacifico;
  color: var(--h2-color);
}

.personal::first-letter {
  text-transform: capitalize;
  font-size: 2em;
}
.container {
  display: grid;
  grid-template-columns: 25% 75%;

}

.article {
  display: grid;
  grid-template-columns: 49% 49%;
  margin-top:2em ;

}

h2, h1 {
  color:var(--h2-color);
  margin-left: 2em;
}
h1 {
  
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.contact {
  color:var(--h2-color);
}

.logo {
  text-shadow: var(--shadow);
  align-items: flex-start;
  float: left;
}

.nav {
  display: flex;
 justify-content: flex-end;
  align-items: center;
  color: var(--h2-color);
  margin-right: 2em;
  padding: 20px 50px;
  margin: 0 20px;
}
.nav a {
  padding: 0px 10px;
  text-decoration: none;
  color: var(--h2-color);
  transition: all o.3s ease 0s;
  text-shadow: var(--shadow);
}
nav a:hover {
  color: rgb(203, 53, 146);
}
.portfolio {
  text-shadow: var(--shadow);
  font-size: 5em;
  padding-top: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
