:root {
  --body-background-color: #7265c7d8;
  --h2-color: aliceblue;;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--body-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.hero-banner {  
background-image: url("../images/060407a0003.jpg");
background-repeat: no-repeat;
height: 500px;
background-size: cover;
background-position: center;
}


.container {
  display: grid;
  grid-template-columns: 25% 75%;

}

.article {
  display: grid;
  grid-template-columns: 49% 49%;
  margin-top:2em ;

}

h2, h1 {
  color:var(--h2-color);
  margin-left: 2em;
}
h1 {
  text-align: center;
}

.contact {
  color:var(--h2-color);
}

